.welcome {
  margin-bottom: -1.5em;
  font-weight: 600;
  font-size: 2rem;
}

.img {
  max-height: 40vh;
}

.container {
  margin-top: 9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  transition: 0.5s;
}

.container:hover {
  scale: 0.8;
}
