/* The counter circle is hardcoded red, size is whatever container of this sets it as*/

:root {
  font-size: 1em;
}

.iconContainer {
  position: relative;
  width: 1.5em;
  font-size: 1em;
  margin-right: -0.25em;
}

.shoppingCart {
  width: 1em;
}

.counter {
  display: flex;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 105%;
  left: 80%;
  font-size: 0.6em;
  background-color: red;
  border-radius: 50%;
  padding: 0.3em;
  color: black;
}
